@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body {
    justify-content: center;
    align-items: center;
    font-family: 'Silkscreen', cursive;
}


.title {
    width: 70%;    
    border: 2px solid rgb(29, 139, 236);
    border-radius: 7px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    background-color:beige;
}

.agumon-img-container {
    /* width: 40px; */
    height: 40px;
    display: flex;
    justify-content: center;
}
.img-container > img {
    object-fit: contain;
}

.gabumon-img-container {
    /* width: 40px; */
    height: 40px;
    display: flex;
    justify-content: center;
}
.img-container > img {
    object-fit: contain;
}

.battle-record-text {
    font-size: 30px;

}

.bottom-section {
    width: 70%;
}

.bottom-section .left-row-wrapper {
    flex-grow: 3;
}

.avg-score {
    border: 2px solid rgb(29, 139, 236);
    border-radius: 7px;
    height: 70px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    display:flex;
    flex-direction: column;
}
.avg-top {
    background-color: #8A2BE2;
    color: white;
    border-radius: 5px 5px 0 0;
}
.avg-bottom {
    background-color:beige;
    color: #2F4F4F;
    flex: 1;
    font-size: 20px;
    border-radius: 0 0 5px 5px;
}
.No-of-battle {
    border: 2px solid rgb(29, 139, 236);
    border-radius: 10px;
    height: 70px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    display:flex;
    flex-direction: column;
}
.No-top{
    background-color: #8A2BE2;
    color: white;
    border-radius: 5px 5px 0 0;
}

.No-bottom {
    background-color:beige;
    color: #2F4F4F;
    flex: 1;
    font-size: 20px;
    border-radius: 0 0 5px 5px;
}

.win-rate{
    border: 2px solid rgb(29, 139, 236);
    border-radius: 10px;
    height: 70px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    display:flex;
    flex-direction: column;
}

.win-top {
    background-color: #8A2BE2;
    color: white;
    border-radius: 5px 5px 0 0;
}

.win-bottom {
    background-color:beige;
    color: #2F4F4F;
    flex: 1;
    font-size: 20px;
    border-radius: 0 0 5px 5px;
}

.bottom-section .right-row-wrapper {
    flex-grow: 7;
    
}

.battle-record {   
    border: 2px solid rgb(29, 139, 236);
    border-radius: 7px;
    /* width: 70%; */
    height: 70px;
    display: flex;
    justify-content: center;
    margin: 0 10px 20px 10px;
}

#battle-record-1 {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 10px;
    background-color: beige;
}

.button.dark{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 70%;
    width: 65px;
    height: 65px;
}


#battle-record-1 .vs-text {
    flex-grow: 1;
}

#battle-record-1 .digimon-container{
    flex-grow: 3;
}